<html ng-app="JobApp">

<head>
    <title>Applied Jobs</title>
    <script src='angular.js'></script>
    <script src='app.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Cuprum|Oswald|Slabo+27px" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <style>
        body{
            background-color: #f8f8f8;
            font-family: Cuprum;
            font-size: 8px;
        }
        h1 {
            font-family: Oswald;
        }
     
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">

                <center><h2>Job Applications</h2></center> <br>

                <div ng-controller="JobCtrl as ctrl">

                    <h3> Add New: </h3>
                    
                    <div class="panel panel-default">

                        <table class="panel-body table ">
                            
                            <tr>
                                <td style="width: 33.3%"> Company </td>
                                <td style="width: 33.3%"> Location </td>
                                <td style="width: 33.3%"> Job Title </td>
                            </tr>

                            <tr>

                                <td style="width: 32%"> <input type="text" ng-model="ctrl.newCompany"> </td>
                                <td style="width: 32%"> <input type="text" ng-model="ctrl.newLocation"> </td>
                                <td style="width: 32%"> <input type="text" ng-model="ctrl.jobTitle"> </td>
                                <td style="width: 4%"> <button class= 'btn btn-success' ng-click="ctrl.addNewJob()">Add</button> </td>
                            </tr>
                        </table>
                    </div>
                    <br>
                
                    <p>
                        <h3> Previously Applied: </h3>
                    </p>

                    <ol >
                        <li style="list-style-type: none; padding:0px; border-radius: 5px !important;"  ng-repeat="job in ctrl.jobs track by $index">
                            <table class="table table-bordered table-condensed" style=" border-radius: 5px important;">
                                
                                <tr>
                                    <td style=" width: 3%"> {{ $index+1 }}</td>
                                    <td style=" width: 20%"> <span ng-dblclick = "contentEdit(job.companyName)" ng-keydown ="enterAgain(job.companyName)" ng-model= "job.companyName" > {{ job.companyName}} </span> </td>
                                    <td style=" width: 20%"> <span ng-dblclick = "contentEdit(job.location)" ng-model= "job.location" > {{ job.location}}</span> </td>
                                    <td style=" width: 20%"> <span ng-dblclick = "contentEdit(job.date)" ng-model= "job.date" > {{ job.date }}</span> </td>
                                    <td style=" width: 20%"> <span ng-dblclick = "contentEdit(job.jobTitle)" ng-model= "job.jobTitle" > {{ job.jobTitle}} </span> </td>
                                    <td style=" width: 5%"> <button class= "btn btn-danger" ng-click="ctrl.deleteJob($index)">Delete</button> </td>
                                </tr>
                            
                                
                            </table>
                        </li>

                    </ol>
                </div>

            </div>
        </div>




    </div>
</body>

</html>